.semi-dot {
    height: 100px;
    width: 250px;
    border-radius: 200px 200px 0 0;
    background-color: white;
    margin-right: 25px;
    transform: rotate(90deg);
}
.dot {
    height: 200px;
    width: 250px;
    border-radius: 50%;
    background-color: white;
    margin-right: 25px;
    margin-left: 25px;
}
.dash {
    height: 100px;
    width: 300px;
    background-color: white;
    margin-right: 25px;
    margin-left: 25px;
}
.no-pad-mar {
    padding: 0;
    margin: 0;
}

.dash-btn{
    width: 250px;
    height: 75px;
    background: linear-gradient(#ffffff, #ccccccff);
    margin: 20px;
}
.dot-btn {
    width: 250px;
    height: 75px;
    background: linear-gradient(#ffffff, #ccccccff);
    margin: 20px;
}
.letter-btn {
    height: 100px;
    width: 150px;
    border-radius: 50%;
    background-color: white;
    margin-right: 25px;
    margin-left: 25px;
}

.sound-btn{
    height: 50px;
    width: 70px;
    border-radius: 50%;
    background-color: white;
    margin-right: 25px;
    margin-left: 25px;
}


#ans_bubble{
    color: white;
}
