.semi-dot {
    height: 100px;
    width: 250px;
    border-radius: 200px 200px 0 0;
    background-color: white;
    margin-right: 25px;
    transform: rotate(90deg);
}
.dot {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    margin-right: 25px;
    margin-left: 25px;
}
.dash {
    height: 90px;
    width: 200px;
    background-color: white;
    margin-right: 25px;
    margin-left: 25px;
}
.no-pad-mar {
    padding: 0;
    margin: 0;
}

.dash-btn{
    width: 250px;
    height: 75px;
    background: white;
    margin: 20px;
    font-size: 30px; 
    border-radius: 12px;
    font-weight: 900;

}
.dot-btn {
    width: 250px;
    height: 75px;
    background: white;
    margin: 20px;
    font-size: 30px; 
    border-radius: 12px;
    font-weight: 900;
}
.letter-btn {
    height: 100px;
    width: 150px;
    border-radius: 50%;
    background-color: white;
    margin-right: 25px;
    margin-left: 25px;
}

.sound-btn{
    height: 50px;
    width: 70px;
    border-radius: 50%;
    background-color: white;
    margin-right: 25px;
    margin-left: 25px;
}


#ans_bubble{
    color: white;
}

.ans_bub{
    font-size: 25px;
}

#ans{
    font-size: 25px;
}
