@import "./components/morsecode.css";

body {
    background-color: #6fa8dcff;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
h6 {
    margin: 10px;
}
.header_welcome{
    size: 50px;
    margin-left: 50px;
}

.subheader_welcome{
    size: 30px;
    margin-left: 50px;
}

.navbar-light .navbar-brand {
    color: white;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.row {
    margin-bottom: 50px;
}
.test-banner {
    font-size: 3rem;
}

#begin{
    background-color: yellow;
}

.about{
    font-size: 30px;
}

#about_link{
    font-weight: bold;
}

.letter{
    font-size: 30px;
}


.my_text{
    font-size: 50px;
}

.ans{
    font-size: 30px;
}

.icon_about{
    font-size: 50px;
}

.icon_about_dash{
    font-size: 30px;
}
.progress_bar{
    position: absolute;
    top: 20px;
    right: 20px;  
}
.place-hold {
    height: 100px;
    width: 100px;
    background-color: white;
    margin-right: 25px;
    margin-left: 25px;
    border-radius: 25%;
}

.small-dot {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: white;
    margin-right: 25px;
    margin-left: 25px;
}
.small-dash {
    height: 30px;
    width: 100px;
    background-color: white;
    margin-right: 25px;
    margin-left: 25px;
}
.learn-dot-symbol{
    display: inline-block; 
    height: 25px;
    width: 25px;
    border-radius: 160%;
    background-color: white;
    margin-right: 8px;
    margin-left: 8px;
}
.learn-dash-symbol{
    display: inline-block; 
    height: 10px;
    width: 33px;
    background-color: white;
    margin-right: 8px;
    margin-left: 8px;


}

