@import "./components/morsecode.css";

body {
    background-color: #6fa8dcff;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.header_welcome{
    size: 50px;
    margin-left: 50px;
}

.subheader_welcome{
    size: 30px;
    margin-left: 50px;
}

.navbar-light .navbar-brand {
    color: white;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.row {
    margin-bottom: 50px;
}
.test-banner {
    font-size: 3rem;
}

#begin{
    background-color: yellow;
}

.about{
    font-size: 30px;
}

#about_link{
    font-weight: bold;
}

.letter{
    font-size: 30px;
}


.my_text{
    font-size: 50px;
}

.ans{
    font-size: 30px;
}

.icon_about{
    font-size: 50px;
}

.icon_about_dash{
    font-size: 30px;
}
.page{
    position: absolute;
    top: 20px;
    right: 20px;
    
}




