{% extends "layout.html" %}


{% block content %} 
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h1>Learn Morse Code</h1>
            <div>
                Learn to encode words and letters in a system of dashes and dots
            </div>
        </div>
    </div>
    <div class="row align-items-center flex-nowrap">
        <span class="dash"></span>
        <span class="dot"></span>
        <span class="dash"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dash"></span>
    </div>
    <div class="row">
        <div class="col-md-10">

        </div>
        <div class="col-md-2">
            <a href="/about" class="btn btn-warning btn-large" role="button">Begin</a>
        </div>
    </div>

{% endblock %}