{% extends "layout.html" %}


{% block content %} 

<source src="{{ url_for('static', filename='A.mp3') }}" type="audio/mpeg">
<source src="{{ url_for('static', filename='E.mp3') }}" type="audio/mpeg">
<source src="{{ url_for('static', filename='M.mp3') }}" type="audio/mpeg">
<source src="{{ url_for('static', filename='S.mp3') }}" type="audio/mpeg">

<script>
    let learn_combos = {{learn_combos|tojson}};

</script>

<script type="text/javascript" src="{{ url_for('static', filename = 'learn_letters_1.js') }}"></script>




<div class = "row">
    <div class = "col-md-6">
        <div class = "letter">
            {{learn_combos[0]}}
        </div>
        <audio src = 'A.mp3' controls>
        </audio>
    </div>
    <div class = "col-md-6">
        <div class = "letter">
            {{learn_combos[1]}}
        </div>
        <audio src = 'E.mp3' controls>
        </audio>
    </div>
</div>
<div class = "row">
    <div class = "col-md-6">
        <div class = "letter">
            {{learn_combos[2]}}
        </div>
        <audio src = 'M.mp3' controls>
        </audio>
    </div>
    <div class = "col-md-6">
        <div class = "letter">
            {{learn_combos[3]}}
        </div>
        <audio src = 'S.mp3' controls>
        </audio>
    </div>
</div>
<div class="row">
    <div>
        <a href = "/learn/2">
            <button class="btn-sm btn-outline-secondary" id="begin">Next</button>
        </a>
    </div>
</div>
{% endblock %}