{% extends "layout.html" %}


{% block content %} 

<script>
    let learn_combos = {{learn_combos|tojson}};
    let files = {{files|tojson}};
    let id = {{id|tojson}};
    let url = {{url|tojson}};
    let codes = {{codes|tojson}};
    let prev_url = {{prev_url|tojson}};
    let page = {{page|tojson}};

    console.log(url)


</script>

<script type="text/javascript" src="{{ url_for('static', filename = 'learn_letters_1.js') }}"></script>

<div class="row">
    <div class="col-md-12">
        <h1> For our purposes we'll focus on a few letters for now</h1>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <h6> Click on each letter to hear its corresponding sound </h6>
    </div>
</div>
<div class = "row">
    <div class = "col-md-6">
        <div class = "letter">
            {{learn_combos[0]}}
            {{codes[0]}}
        </div>
        <audio src = {{files[0]}} controls>
        </audio>
    </div>
    <div class = "col-md-6">
        <div class = "letter">
            {{learn_combos[1]}}
            {{codes[1]}}
        </div>
        <audio src = {{files[1]}} controls>
        </audio>
    </div>
</div>
<div class = "row">
    <div class = "col-md-6">
        <div class = "letter">
            {{learn_combos[2]}}
            {{codes[2]}}
        </div>
        <audio src = {{files[2]}} controls>
        </audio>
    </div>
    <div class = "col-md-6">
        <div class = "letter">
            {{learn_combos[3]}}
            {{codes[3]}}
        </div>
        <audio src = {{files[3]}} controls>
        </audio>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        {{page}}/10
        <a href = "{{prev_url}}">
            <button class="btn-sm btn-outline-secondary" id="begin">Previous</button>
        </a>

    </div>
    <div class="col-md-6">
        <a href = "{{url}}">
            <button class="btn-sm btn-outline-secondary" id="begin">Next</button>
        </a>
    </div>
</div>

{% endblock %}