{% extends "layout.html" %}


{% block content %} 

<script>
    let id = {{id|tojson}};
    let url = {{url|tojson}};
    let code= {{code|tojson}}; 
    let sound={{sound|tojson}}; 
    let letter={{letter|tojson}};
    let page_id = {{page_id|tojson}};
    let prev_url = {{prev_url|tojson}};
    let letter_sounds={{letter_sounds| tojson}}
    let choice1, choice2, choice3

    $(document).ready(function(){
        $(".letter-btn").click(function(){
            console.log("clicked")
            $("#ans").append("The Correct Answer is {{letter}}");
            $('#option').attr('disabled','disabled');
        });
        let answer_button= Math.floor(Math.random() * 4)+1
        button= "option" + answer_button
        $('#'+ button).append(letter)
        option1= document.getElementById("option1").innerHTML
        option2=document.getElementById("option2").innerHTML
        option3=document.getElementById("option3").innerHTML
        option4=document.getElementById("option4").innerHTML
        let ids_used=[parseInt(id)]
        if (option1=="")
        {
            let random=Math.floor(Math.random() * 8)
            while (ids_used.includes(random))
            {
                random=Math.floor(Math.random() * 8)
            }
            ids_used.push(random)
            $("#option1").append((letter_sounds[random]["letter"]).toUpperCase())
        }
        if (option2=="")
        {
            let random=Math.floor(Math.random() * 8)
            while (ids_used.includes(random))
            {
                random=Math.floor(Math.random() * 8)
            }
            ids_used.push(random)
            $("#option2").append((letter_sounds[random]["letter"]).toUpperCase())

        }
        if (option3=="")
        {
            let random=Math.floor(Math.random() * 8)
            while (ids_used.includes(random))
            {
                random=Math.floor(Math.random() * 8)
            }
            ids_used.push(random)
            $("#option3").append((letter_sounds[random]["letter"]).toUpperCase())

        }
        if (option4=="")
        {
            let random=Math.floor(Math.random() * 8)
            while (ids_used.includes(random))
            {
                random=Math.floor(Math.random() * 8)
            }
            ids_used.push(random)
            $("#option4").append((letter_sounds[random]["letter"]).toUpperCase())
        
            

        }
        
            
    

        

        
    });

    function playAudio(url) {
        new Audio(url).play();
    }

</script>

<script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>


<div class="row">
    <div class="col-md-12">
        <h3> What letter is this? </h3>
        <h1> {{code}}
        <button class="sound-btn" style='font-size:24px' onclick='playAudio(sound)'><i class='fa fa-volume-up'></i></button>
        </h1>
    </div>
</div>
<div id="ans">
</div>
<br>
<br>
<div class="row">
    <div class="col-md-3">
        <button id="option1" class="letter-btn"></button>
    </div>
    <div class="col-md-3">
        <button id="option2" class="letter-btn"></button>
    </div>
    <div class="col-md-3">
     <button id="option3" class="letter-btn"></button>
    </div>
    <div class="col-md-3">
        <button id="option4" class="letter-btn"></button>
    </div>
    
</div>
<br><br>
<div class="row">
    <div class="col-md-10">
        {{page_id}}/10
        <a href = "{{prev_url}}">
            <button class="btn btn-warning btn-large" role="button">Previous</button>
        </a>

    </div>
    <div class="col-md-2">
        <a href = "{{url}}">
            <button class="btn btn-warning btn-large" role="button" id="next">Next</button>
        </a>
    </div>
</div>
{% endblock %}