{% extends "layout.html" %}


{% block content %} 

<script>
    let learn_combos = {{learn_combos|tojson}};
    let files = {{files|tojson}};
    let id = {{id|tojson}};
    let url = {{url|tojson}};
    let codes = {{codes|tojson}};
    let prev_url = {{prev_url|tojson}};
    let page = {{page|tojson}};


    function playAudio(url) {
        new Audio(url).play();
    }

    $(document).ready(function(){
      update_percentage(page)
    });

    function update_percentage(page){
      page_number = page+1
      pg = {
        "data": page_number,
      }
      $.ajax({
        type: "POST",
        url: "/update_progress",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        data: JSON.stringify(pg),
        success: function(result){
            let percentage = result["percentage"]
            console.log(percentage)
            document.getElementById("file").value = percentage;
            $("#percent").empty()
            $("#percent").append(percentage+"%")
        }
    });
  }


</script>


<div class="page">
</div>
<div class="row">
    <div class="col-md-12">
        <h1> For our purposes we'll focus on a few letters for now</h1>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <h6> Click on each letter to hear its corresponding sound </h6>
    </div>
</div>
<div class = "row">
    <div class = "col-md-6">
        <div class = "letter">
            {{learn_combos[0]}}
            {{codes[0]}}
        </div>
        <button class="sound-btn" style='font-size:24px' onclick='playAudio(files[0])'><i class='fa fa-volume-up'></i></button>
    </div>
    <div class = "col-md-6">
        <div class = "letter">
            {{learn_combos[1]}}
            {{codes[1]}}
        </div>
        <button class="sound-btn" style='font-size:24px' onclick='playAudio(files[1])'><i class='fa fa-volume-up'></i></button>
    </div>
</div>
<div class = "row">
    <div class = "col-md-6">
        <div class = "letter">
            {{learn_combos[2]}}
            {{codes[2]}}
        </div>
        <button class="sound-btn" style='font-size:24px;' onclick='playAudio(files[2])'><i class='fa fa-volume-up'></i></button>
    </div>
    <div class = "col-md-6">
        <div class = "letter">
            {{learn_combos[3]}}
            {{codes[3]}}
        </div>
        <button class="sound-btn" style='font-size:24px' onclick='playAudio(files[3])'><i class='fa fa-volume-up'></i></button>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <a href = "{{prev_url}}">
            <button class="btn btn-warning btn-large" role="button">Previous</button>
        </a>

    </div>
    <div class="col-md-2">
        <a href = "{{url}}">
            <button class="btn btn-warning btn-large" role="button" id="next">Next</button>
        </a>
    </div>
</div>

{% endblock %}