{% extends "layout.html" %}


{% block content %} 

<script>
    let id = {{id|tojson}};
    let letter = {{letter|tojson}};
    let sound = {{sound|tojson}};
    let url = {{url|tojson}};
    let code={{code|tojson}};
    let page_id={{page_id|tojson}};
    let prev_url = {{prev_url|tojson}};

    $(document).ready(function(){

        $("#dash").click(function(){
            $("#ans_bubble").append("_ ")
        });
        $("#dot").click(function(){
            $("#ans_bubble").append(". ")
        });
        $("#delete_ans").click(function(){
            let text= document.getElementById('ans_bubble').textContent.slice(0, -2)
            $("#ans_bubble").empty()
            $("#ans_bubble").append(text)
        });
        $("#sequence_ans").click(function(){
            $("#ans_bubble").empty()
            $(".ans_bub").empty()
            $(".ans_bub").css('background-color', '#6fa8dcff')
            $(".ans_bub").append("The correct answer is '{{code}}'")
        });
    });

    function playAudio(url) {
        new Audio(url).play();
    }



   
</script>
<div class="page">
    {{page_id}}/10  
</div>
<div class="row">
    <div class="col-md-12">
        <h1> {{letter}} {{code}} </h1>
    
        <button class="sound-btn" style='font-size:24px' onclick='playAudio(sound)'><i class='fa fa-volume-up'></i></button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
       <h3> Tap the buttons to write out the sequence</h3> 
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <button class="dash-btn" val="_"> <p> _ </p></button>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-2">  
        <button class="dot-btn" val="."><p> . </p></button>
    </div>
    <div class="col-md-8">

    </div>
    
</div>
<hr style="border: 0.5px dashed white;" />
<div class="row ans_bub">
    <div id="ans_bubble" class="col-md-5 ans">
        My answer is  
    </div>
    <div class="col-md-1" id="delete">
        <button class="btn btn-warning btn-large" id='delete_ans'>Delete</button>
    </div>
    <div class="col-md-1" id="submit">
        <button class="btn btn-warning btn-large" id='sequence_ans'>Submit</button>
    </div>
</div>
<hr style="border: 0.5px dashed white;" />
<br><br>
<div class="row">
    <div class="col-md-10">
        <a href = "{{prev_url}}">
            <button class="btn btn-warning btn-md" role="button">Previous</button>
        </a>

    </div>
    <div class="col-md-2">
        <a href = "{{url}}">
            <button class="btn btn-warning btn-md" role="button" id="next">Next</button>
        </a>
    </div>
</div>
{% endblock %}