{% extends "layout.html" %}


{% block content %} 
<script type="text/javascript" src="../static/quiz.js"></script>
<script>
    const id = JSON.parse('{{ id|tojson }}');
    const letters = JSON.parse('{{ letters|tojson }}');
    const words = JSON.parse('{{ words|tojson }}');
    const quizQuestions = JSON.parse('{{ quiz_questions|tojson}}')
    const score = JSON.parse('{{ score|tojson}}')
    const page = JSON.parse('{{ page_number_quiz|tojson}}');

    let question = JSON.parse('{{question|tojson}}');
    
    $(document).ready(function() {
      if(question === null) {
        question = generateQuestion();
      }
        displayQuestion(question);
        displayCurrentScore(score, id);
        generateNextButton(id);
        update_percentage(page);
    });

    function update_percentage(page){
      page_number = page+1
      pg = {
        "data": page_number,
      }
      $.ajax({
        type: "POST",
        url: "/update_progress",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        data: JSON.stringify(pg),
        success: function(result){
            let percentage = result["percentage"]
            console.log(percentage)
            document.getElementById("file").value = percentage;
            $("#percent").empty()
            $("#percent").append(percentage+"%")
        }
    });
  }
</script>

<div class="row justify-content-center" id="upper-row">

</div>
<div class="row justify-content-center align-items-center" id="place-holder">

</div>
<div class="row justify-content-center">
    <div class="col-md-4 justify-content-center">
        <p class="text-center" id="feedback"></p>
    </div>
</div>
<div class="row justify-content-center" id="middle-row">

</div>
<div class="row" id="lower-row">
    <div class="col-md-10" id="current-score">

    </div>
    <div class="col-md-2" id="button-col">
    </div>
</div>
{% endblock %}