{% extends "layout.html" %}


{% block content %} 

<script>
    let id = JSON.parse('{{ id|tojson }}');
    let letters = JSON.parse('{{ letters|tojson }}');
    let words = JSON.parse('{{ words|tojson }}');
    $(document).ready(function() {
        let question = generateQuestion();
        displayQuestion(question);
        generateNextButton(id);
    });
</script>

<div class="row justify-content-center" id="upper-row">

</div>
<div class="row justify-content-center" id="middle-row">

</div>
<div class="row" id="lower-row">
    <div class="col-md-10">

    </div>
    <div class="col-md-2" id="button-col">
    </div>
</div>
{% endblock %}